<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Mall</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <script src="store.js" defer></script>
    </head>
    <body>
         <!-- header -->
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="container-fluid">
              <div class="not">
                <img src="/images/Photo5.jpg"  height="50px"  alt="">

              </div>
                
              
             <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/users/welcome">Fashion</a>
                  </li>
                  </a>
                 </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/users/about">About Us</a>
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link active " href="" >
                        Accessories
                     </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>
                </ul>
                <div class="boy">
              <a href="/users/welcome"  class="btn btn-primary btn sm" id="dropdownMenuButton1" aria-expanded="false">My account</a>
              </div>
              </div>
            </div>
        </div>
          </nav>

          <div class="man"></div>
          
        

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/photo3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Never give up</h5>
              <p>Some representative placeholder content for the first slide.</p>
              <div class="slider-btn">
                  <button class="btn btn-1">Our Services</button>
                  <button class="btn btn-2">Place Order</button>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/Photo4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Exploring</h5>
              <p>Some representative placeholder content for the second slide.</p>
              <div class="slider-btn">
                <button class="btn btn-1">Our Services</button>
                <button class="btn btn-2">Place Order</button>
            </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/photo78.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Vikings Warriors</h5>
              <p>Some representative placeholder content for the third slide.</p>
              <div class="slider-btn">
                <button class="btn btn-1">Our Services</button>
                <button class="btn btn-2">Place Order</button>
            </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <marquee class="hna" behavior="" direction="">Eclipse Shopping mall.50% discount.... Best Shopping Mall Ever, Free Shipping Worldwide. </marquee>
      <!-- jkbujxbuj -->
   
        <section class="container content-section">
            <h2 class="section-header">Category</h2>
            <div class="ban">
            <div class="shop-items">
                <%  items.category.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<% item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price /100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                         <%  }) %>
            </div>
            </div>
                 </section>
        <section class="container content-section">
            <h2 class="section-header">Bags</h2>
            <div class="ban">
            <div class="shop-items">
                <% items.shoe.forEach(function(item){%>
                    <div class="shop-item" data-item-id="">
                        <span class="shop-item-title"><%= item.name%></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price/100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>

               <% }) %>
            </div>
          </div>
          <section class="container content-section">
            <h2 class="section-header">Shoes</h2>
            <div class="ban">
            <div class="shop-items">
                <% items.man.forEach(function(item){%>
                    <div class="shop-item" data-item-id="">
                        <span class="shop-item-title"><%= item.name%></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price/100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>

               <% }) %>
            </div>
          </div>
            </section>
            <section class="container content-section">
            <div class="jab"> 
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </div>
        </section>
       <!-- footer -->
       
    </body>
</html>